/* RESET */
a, abbr, acronym, address, applet, article, aside, audio, 
b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed, 
fieldset, figcaption, figure, form, footer, 
header, hgroup, h1, h2, h3, h4, h5, h6, html, 
i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,
object, ol, output, p, pre, q, ruby, 
s, samp, section, main, small, span, strike, strong, sub, summary, sup, 
tt, table, tbody, textarea, tfoot, thead, time, tr, th, td,
u, ul, var, video { 
	font-family: inherit; 
	font-size: 100%; 
	font-weight: inherit; 
	font-style: inherit; 
	vertical-align: baseline; 
	white-space: normal;
	text-align: left; 
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0;
	background: transparent; 
}
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, main {display: block;}								  
ol, ul {list-style: none;}
blockquote, q{quotes: none;}
table { border-collapse: collapse;border-spacing: 0;}

* { 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	         *behavior: url(/js/boxsizing.htc); 
}
.clearfix:after {clear: both;content: ".";display: block;height: 0; visibility: hidden;}
html[xmlns] .clearfix {display: block;}

/*===============================================
	
	-webkit-border-radius: 5px;	
	   -moz-border-radius: 5px;
	        border-radius: 5px;
			
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
	   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
		    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
			
	background:#fff;
	background: -moz-linear-gradient(bottom, #ccc, #fff );
	background: -webkit-gradient(linear, left bottom, left top, from(#ccc), to(#fff)); 
	background: -o-linear-gradient(bottom, #ccc, #fff); 
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fff, endColorstr=#ccc);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fff, endColorstr=#ccc"); 
					
================================================*/

/*-------------------------------------------------*/

html, body{
	height:100%;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:130%;
}
body{
	min-width:980px;
	height:100%;
}
#wrapper{		
}
.main{
	width:980px;
	margin: auto;
	position: relative;
	z-index:10px;	
}
[class^="icon-"], [class*=" icon-"] {
	background: url("../images/sprite.png") no-repeat 100% 100%;
}

/*------------------*/
/*--- Typography ---*/
/*------------------*/
a:link, a:visited{ 
	color:#06b2ce; text-decoration: none;
	
 	 -webkit-transition-property: all;
        -moz-transition-property: all;
          -o-transition-property: all;
             transition-property: all;
     
	 -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
             transition-duration: 0.3s;	
}
a:hover{color:#e0735e;}


h1, h2, h3, h4, h5, h6 { margin:15px 0;	padding:0; line-height:1.2;}
h1 {}
h1, h3, h5 {}
h1 {font-size: 180%;}
h2 {font-size: 170%;}
h3 {font-size: 150%;}
h4 {font-size: 130%;}
h5, h6 {font-size: 120%;}
/* Hyperlinks*/

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited  { text-decoration: none; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover  {text-decoration: underline;}

/*	Content elements */
p {	margin:10px 0;}
big { font-size:150%; }
small{ font-size:80%; }
q {	font-style:italic;}
blockquote { margin:15px; font-style:italic;}
strong, dfn { font-weight:bold;}
em, dfn { font-style:italic;}
sup, sub {	line-height:0;}
abbr, acronym {	text-transform: uppercase;}
address { margin:0 0 15px; font-style:italic;}
abbr[title], acronym[title], dfn[title], span[title], del[title] {	cursor: help;}
del {	text-decoration:line-through;}

/* Lists*/
.content li ul,.content li ol {	margin:0;}
.content ul, .content ol {	margin:15px 0;	padding-left:20px;}
ul { padding-left:15px;	list-style:outside circle;}
dt, dd { margin-top: 0; margin-bottom: 0 }
dt, lh { font-weight: bold; }
lh { font-size: 120%; }
dd { margin-left: 20px;}
dl {	margin:0 0 15px 0;}

/*Tables*/
table{	border:1px solid #e2e2e2;}
th {	font-weight:bold;}
th, td, caption {	padding:5px;	border:1px solid #e2e2e2;}

/* Forms */
fieldset { margin: 10px 0;	padding: 10px;	background:#eae9eb;}
legend { padding: 3px 10px;	background:#251e30;	color:#fff;}
label{	font-size:110%;	}
textarea {	padding: 4px 8px;}
option { padding: 0 0 1px 5px;}
input{	margin:0;}
select{	padding-left:8px;}
input[type='hidden'] {display: none;}

input[type='text'], 
input[type='password'] { padding:4px 8px;}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
.button::-moz-focus-inner{ padding:0; border:0; }

button, 
input[type='button'], 
input[type='submit'], 
input[type='reset'],
.button, a.button{
	background: #00a1cb;
	color: #fff;
	padding:  7px 20px;
	text-decoration: none;
	display: inline-block;
	
	-webkit-border-radius: 5px;	
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	
	 -webkit-transition-property: background;
        -moz-transition-property: background;
          -o-transition-property: background;
             transition-property: background;
     
	 -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
             transition-duration: 0.3s;	
}
button:hover, 
input[type='button']:hover, 
input[type='submit']:hover, 
.button:hover{ background: #00b5e5;}

input[type='button'], 
input[type='submit'], 
input[type='checkbox'], 
input[type='image'], 
input[type='radio'], 
input[type='reset'], 
select{	cursor: pointer; }

textarea, 
select,
input[type='text'], 
input[type='password'], 
input[type='file'],
input[type="email"],
input[type="search"],{
	font:normal 100%/100% Tahoma, Geneva, sans-serif;
	color:#222;	
	border:1px solid #dadada;	
	-webkit-border-radius:11px;
	   -moz-border-radius:11px;
			border-radius:11px;
}
input[type='file']{
	border:1px solid #dadada;
}

textarea:hover, 
input[type='text']:hover, 
input[type='password']:hover, 
select:hover,
textarea:active, 
input[type='text']:active, 
input[type='password']:active, 
select:active,
textarea:focus, 
input[type='text']:focus, 
input[type='password']:focus, 
select:focus, 
input[type='file']:hover {	border-color:#610dbf;}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}



/*--------------*/
/*--- header ---*/
/*--------------*/
#header{}
#header .main{
	background: #333;
}
nav.mainnav{}
	nav.mainnav ul{}
	nav.mainnav ul li{ display: block; float: left; margin-right: 10px;}
		nav.mainnav ul li a{ font-size: 14px;}
.logo{
	display: block;
	width: 200px;
	height: 100px;
}
/*---------------*/
/*-- containet --*/
/*---------------*/
#container{}

.content{
	background: #666;
	float: left;
	width: 66%;	
}

.sidebar{
	background: #999;
	float: left;
	width: 32%;
	margin-left: 2%;
}


/*--------------*/
/*--- footer ---*/
/*--------------*/
#footer{}
#footer .main{
	background: #BBB;
}

.copyright{}
.copyright a{}
.develop{}
.develop a{}


/*----------------------------------*/

